.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
        rgba(130, 3, 189, 0.651),
        rgb(71, 6, 156)
    );
}

input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid grey;
}

label{
    font-size: 15px;
    color: grey;
}

form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
}

h1{
    color: rgb(71, 6, 156);
    text-align: center;
}

button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgba(130, 3, 189, 0.651);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 25px;
}

.formInput{
    display: flex;
    flex-direction: column;
    width: 300px;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

select{
    display: flex;
    flex-direction: column;
    width: 300px;
}